Repository Icarus9913/spiderpool, changes with the owners that CODEOWNERS names for each.
All owners: @weizhouBlue, @lou-lan, @weizhoublue

bench...
  cmd/spiderpool-agent/cmd/config.go
  cmd/spiderpool-agent/cmd/crd_manager.go
  cmd/spiderpool-agent/cmd/ipam.go
  cmd/spiderpool/cmd/command_add.go
  cmd/spiderpool/cmd/command_delete.go
  go.mod
  go.sum
  pkg/ip/ip.go
  pkg/ip/iprange.go
  pkg/ipam/ipam.go
  pkg/ippoolmanager/ippool_manager.go
  pkg/ippoolmanager/types/interface.go
  pkg/podmanager/pod_manager.go
  pkg/workloadendpointmanager/workloadendpoint_manager.go
  pkg/workloadendpointmanager/workloadendpoint_manager_test.go
  vendor/github.com/gofrs/flock/.gitignore
  vendor/github.com/gofrs/flock/.travis.yml
  vendor/github.com/gofrs/flock/LICENSE
  vendor/github.com/gofrs/flock/README.md
  vendor/github.com/gofrs/flock/appveyor.yml
  vendor/github.com/gofrs/flock/flock.go
  vendor/github.com/gofrs/flock/flock_aix.go
  vendor/github.com/gofrs/flock/flock_unix.go
  vendor/github.com/gofrs/flock/flock_winapi.go
  vendor/github.com/gofrs/flock/flock_windows.go
  vendor/modules.txt
Owners: @weizhoublue

subnet architecture refactor
  Makefile
  charts/spiderpool/crds/spiderpool.spidernet.io_spiderippools.yaml
  charts/spiderpool/crds/spiderpool.spidernet.io_spidersubnets.yaml
  cmd/spiderpool-agent/cmd/config.go
  cmd/spiderpool-agent/cmd/daemon.go
  cmd/spiderpool-controller/cmd/config.go
  cmd/spiderpool-controller/cmd/daemon.go
  pkg/applicationcontroller/app_controller.go
  pkg/applicationcontroller/applicationinformers/controller.go
  pkg/applicationcontroller/applicationinformers/cronjob_informer.go
  pkg/applicationcontroller/applicationinformers/daemonset_informer.go
  pkg/applicationcontroller/applicationinformers/deployment_informer.go
  pkg/applicationcontroller/applicationinformers/job_informer.go
  pkg/applicationcontroller/applicationinformers/replicaset_informer.go
  pkg/applicationcontroller/applicationinformers/statefulset_informer.go
  pkg/applicationcontroller/applicationinformers/utils.go
  pkg/constant/errors.go
  pkg/constant/k8s.go
  pkg/gcmanager/pod_cache.go
  pkg/ipam/allocate.go
  pkg/ipam/pool_selections.go
  pkg/ipam/release.go
  pkg/ipam/utils.go
  pkg/ippoolmanager/ippool_informer.go
  pkg/ippoolmanager/ippool_manager.go
  pkg/ippoolmanager/utils.go
  pkg/k8s/apis/spiderpool.spidernet.io/v1/spiderippool_types.go
  pkg/k8s/apis/spiderpool.spidernet.io/v1/spidersubnet_types.go
  pkg/k8s/apis/spiderpool.spidernet.io/v1/types_string.go
  pkg/k8s/apis/spiderpool.spidernet.io/v1/zz_generated.deepcopy.go
  pkg/podmanager/utils.go
  pkg/podmanager/utils_test.go
  pkg/subnetmanager/subnet_informer.go
  pkg/subnetmanager/subnet_manager.go
  pkg/subnetmanager/subnet_validate.go
  pkg/subnetmanager/subnet_webhook_test.go
  pkg/types/k8s.go
  pkg/utils/convert/convert.go
  test/e2e/reclaim/reclaim_test.go
Owners: @weizhoublue, @weizhouBlue, @lou-lan

list cache bug
  pkg/subnetmanager/subnet_informer.go
Owners: @weizhoublue

..
  cmd/spiderpool-agent/cmd/crd_manager.go
  pkg/ipam/allocate.go
  pkg/ipam/pool_selections.go
Owners: @weizhoublue

update to v0.8.1
  VERSION
  charts/spiderpool/Chart.yaml
Owners: @weizhouBlue, @lou-lan

Updated docs for spiderpool v0.8
  docs/images/arch.png
Owners: @weizhoublue

update to v0.8.2
  VERSION
  charts/spiderpool/Chart.yaml
Owners: @weizhouBlue, @lou-lan

add ip release for ip conflict situation
  api/v1/agent/client/daemonset/delete_ipam_ips_parameters.go
  api/v1/agent/models/ipam_batch_del_args.go
  api/v1/agent/openapi.yaml
  api/v1/agent/server/embedded_spec.go
  api/v1/agent/server/restapi/daemonset/delete_ipam_ips_parameters.go
  charts/spiderpool/crds/spiderpool.spidernet.io_spiderendpoints.yaml
  cmd/coordinator/cmd/command_add.go
  cmd/spiderpool-agent/cmd/config.go
  cmd/spiderpool-agent/cmd/ipam.go
  docs/develop/roadmap.md
  pkg/constant/errors.go
  pkg/ipam/ipam.go
  pkg/ipam/release.go
  pkg/k8s/apis/spiderpool.spidernet.io/v2beta1/spiderendpoint_types.go
  pkg/networking/ipchecking/ipchecking.go
  pkg/workloadendpointmanager/workloadendpoint_manager.go
Owners: @weizhoublue, @weizhouBlue, @lou-lan

new
  api/v1/agent/models/ipam_batch_del_args.go
  api/v1/agent/openapi.yaml
  api/v1/agent/server/embedded_spec.go
  cmd/coordinator/cmd/command_add.go
  cmd/spiderpool-agent/cmd/ipam.go
  pkg/ipam/release.go
  pkg/workloadendpointmanager/workloadendpoint_manager.go
  pkg/workloadendpointmanager/workloadendpoint_manager_test.go
Owners: @weizhoublue

add ip release for ip conflict situation
  api/v1/agent/client/daemonset/delete_ipam_ips_parameters.go
  api/v1/agent/models/ipam_batch_del_args.go
  api/v1/agent/openapi.yaml
  api/v1/agent/server/embedded_spec.go
  api/v1/agent/server/restapi/daemonset/delete_ipam_ips_parameters.go
  charts/spiderpool/crds/spiderpool.spidernet.io_spiderendpoints.yaml
  cmd/coordinator/cmd/command_add.go
  cmd/spiderpool-agent/cmd/config.go
  cmd/spiderpool-agent/cmd/daemon.go
  cmd/spiderpool-agent/cmd/ipam.go
  docs/concepts/coordinator-zh_CN.md
  docs/concepts/coordinator.md
  docs/develop/roadmap.md
  docs/reference/spiderpool-agent.md
  pkg/constant/errors.go
  pkg/ipam/config.go
  pkg/ipam/ipam.go
  pkg/ipam/release.go
  pkg/k8s/apis/spiderpool.spidernet.io/v2beta1/spiderendpoint_types.go
  pkg/networking/ipchecking/ipchecking.go
  pkg/workloadendpointmanager/workloadendpoint_manager.go
  pkg/workloadendpointmanager/workloadendpoint_manager_test.go
  test/doc/coordinator.md
  test/e2e/coordinator/macvlan-overlay-one/macvlan_overlay_one_test.go
Owners: @weizhoublue, @weizhouBlue, @lou-lan

cleanup todo
  cmd/spiderpool-agent/cmd/command_shutdown.go
  cmd/spiderpool-controller/cmd/command_daemon.go
  cmd/spiderpool-controller/cmd/command_shutdown.go
  cmd/spiderpool-controller/cmd/command_status.go
  cmd/spiderpool-controller/cmd/config.go
  pkg/gcmanager/gc_manager.go
  pkg/gcmanager/pod_cache.go
  pkg/ipam/allocate.go
  pkg/ippoolmanager/ippool_mutate.go
  pkg/ippoolmanager/ippool_validate.go
  pkg/subnetmanager/subnet_informer_test.go
  pkg/subnetmanager/subnet_manager.go
  pkg/workloadendpointmanager/workloadendpoint_manager.go
  test/doc/coordinator.md
  test/e2e/coordinator/macvlan-overlay-one/macvlan_overlay_one_test.go
Owners: @weizhoublue, @weizhouBlue, @lou-lan

..
  cmd/spiderpool-agent/cmd/config.go
  cmd/spiderpool-controller/cmd/config.go
Owners: @weizhoublue

CODEOWNERS:

*  @weizhouBlue @lou-lan
/.github @weizhoublue
/api @weizhoublue
/build @weizhoublue
/cmd @weizhoublue
/docs @weizhoublue
/hack @weizhoublue
/pkg @weizhoublue
/CODEOWNERS @weizhoublue
/static @weizhoublue
/vendor @weizhoublue
/.gitignore @weizhoublue
/go.mod @weizhoublue
/LICENSE @weizhoublue
/Makefile* @weizhoublue
/README.md @weizhoublue
/go.sum @weizhoublue
/images @weizhoublue
